@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f7f9;
}

h1 {
  font-weight: bold;
  line-height: 35px;
}
p{
  font-weight: lighter;
}
ul{
  list-style-type: none;
}
.btn {
  color:white;
  background-color: #6B72E1;
  text-decoration: none;
  padding: 15px 10px;
  border: 1px solid;
  border-radius: 10px;
  transition: background 200ms ease;
  display: inline-block;
}
.btn:hover  {
  color:white;
  background-color: black;
  text-decoration: none;
}
.icon_lki{
  color: grey;
}
.icon_lki:hover{
  color: #0372B1;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.content{
  display: inline-flex;
}
.icon{
  color:grey;
}
.icon:hover{
  color:black;
}

.icon_normal i{
  font-size: 30px;
}
.icon_small i{
  font-size: 20px;
}
.linkedin_icon{
  display: inline-block;
  margin-top: 6px;
      position: absolute;
    right: -2px;

}

.left {
  margin: 0px 30px;
  position: relative;
}
.right{
  text-align:left;
}




@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
.card{
  margin-bottom: 10px;
}

.img-circle {
  border-radius: 70%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 2px #f3f3f3;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin:0;
}

.list-inline h1{
  color: #0372B1;
  margin:3px;
  font-size: 25px;
}
